body {
    background-color: green;
    text-align: center;
}

/* Main Page CSS */
h1 {
    font-size: 5vw;
    color: yellow;
    font-family: 'Mochiy Pop P One', sans-serif;
    -webkit-text-stroke: 2px black;
    margin: 2vw auto;
}

#aces {
    height: 14vw;
    margin-bottom: 1vw;
}

.main-option {
    width: 25vw;
    height: 4vw;
    background-color: rgb(44, 35, 20);
    border-radius: 10px;
    font-size: 2vw;
    color: white;
    border: none;
    margin: 10px;
}

.main-option:hover {
    border: 2px solid white;
}

/* Settings Menu CSS */
.settings-menu {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    border-radius: 10px;
    background-color: rgb(44, 35, 20);
    border: 8px solid rgb(15, 12, 7);
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.settings-menu h2 {
    color: yellow;
    font-size: 60px;
    -webkit-text-stroke: 2px black;
    margin: 0 auto 1.5vw auto;
    padding-bottom: 1vw;
    border-bottom: 5px solid rgb(15, 12, 7);
    width: 50vw;
}

.invisible {
    display: none;
}

#close-settings,#close-game-options {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
    font-family: 'Mochiy Pop P One', sans-serif;
    cursor: pointer;
}

.settings-menu ul {
    list-style-type: none;
    padding-left: 0;
    align-content: center;
}

.fa-volume-down {
    margin-left: 1vw;
}

ul label {
    font-size: 25px;
}

.settings-menu p {
    margin-left: 1vw;
    color: yellow;
    font-size: 20px;
    display: inline;
}

.settings-menu li {
    align-content: center;
    margin: 1.5vw auto;
    color: white;
    align-content: center;
}

/* Themes Flexbox */
#themes img{
    height: 13vw;
    width: 13vw;
    position: relative;
}

#themes{
    margin: 2vw auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 70%;
}

/* FIX */

/* Highlighted Card CSS */
.highlighted {
    border: 0.4vw solid yellow;
    border-radius: 1.4vw;
    height: 12.3vw;
    width: 9.1vw;
    overflow: hidden;
    /* box-sizing: border-box; */
}

/* .highlighted>img {
    bottom: 0.55vw;
    right: 2.33vw;
} */

.not-highlighted { 
    border-radius: 1.4vw;
    height: 13.5vw;
    width: 9.5vw;
    overflow: hidden;
}

/* .not-highlighted>img {
    bottom: 0.15vw;
    right: 1.86vw;
} */

/* ^FIX^ */

    /* Switch buttons CSS */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 25px;
        left: 1vw;
        top: 0.4vw;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: rgb(44, 35, 20);
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: yellow;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px yellow;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 10px;
    }

/* Game Options */
.game-options {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    background-color: rgb(44, 35, 20);
    border: 8px solid rgb(15, 12, 7);
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.start-button {
    display: block;
    width: 20%;
    height: 2vw;
    margin: 2vw auto;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 255, 0);
    font-family: 'Mochiy Pop P One', sans-serif;
}

.start-button:hover {
    border: 2px solid white;
    cursor: pointer;
}

#choose-option {
    font-size: 1vw;
    color: red;
}


/* Play Game */

.menu-button {
    background-color: white;
    font-weight: 1000;
    font-size: 1vw;
    color: rgb(44, 35, 20);
    border: none;
    height: 2vw;
    width: 4vw;
    position: absolute;
    right: 1vw;
    top: 1vw;
    border-radius: 50px;
}

.menu-button:hover {
    cursor: pointer;
}

#message-area {
    color: white;
    margin-top: 10vw;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#center-area img {
    height: 10vw;
    position: fixed;
    top: 38%;
    left: 45%;
}

/* Player Names Form */
#player-names {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    background-color: rgb(44, 35, 20);
    border: 8px solid rgb(15, 12, 7);
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#player-names input {
    margin: 1vw auto;
}

/* Card Dealing Animation From the Center */
.deal-card-left {
    animation: dealCardLeft 1s forwards;
}

@keyframes dealCardLeft {
    0%{left: 45%;}
    100%{left: 12%;}
}

.deal-card-right {
    animation: dealCardRight 1s forwards;
}

@keyframes dealCardRight {
    0%{left: 48.5%;}
    100%{left: 81%;}
}

.deal-card-up {
    animation: dealCardUp 1s forwards;
}

@keyframes dealCardUp {
    0%{top: 37.8%;}
    100%{top: 12%;}
}

.deal-card-down {
    animation: dealCardDown 1s forwards;
}

@keyframes dealCardDown {
    0%{top: 38%;}
    100%{top: 67%;}
}





/* Sending Top Card to Dealer */
.send-up {
    animation: sendUp 1s forwards;
}

@keyframes sendUp {
    0%{}
    100%{
        top: -10vw;
        transform: rotate(360deg);
    }
}

.send-left {
    animation: sendLeft 1s forwards;
}

@keyframes sendLeft {
    0%{}
    100%{
        left: -8.5vw;
        transform: rotate(360deg);
    }
}

.send-right {
    animation: sendRight 1s forwards;
}

@keyframes sendRight {
    0%{}
    100%{
        left: 99vw;
        transform: rotate(360deg);
    }
}

.send-down {
    animation: sendDown 1s forwards;
}

@keyframes sendDown {
    0%{}
    100%{
        top: 100%;
        transform: rotate(360deg);
    }
}


/* Dealing */
.top-card {
    position: fixed;
    top: 40%;
    right: 7vw;
    height: 10vw;
    transform: rotate(-90deg);
}

.top-card-to-side {
    animation: moveDeckToSide 1s forwards;
}

@keyframes moveDeckToSide {
    from{}
    to{
        right: 1vw;
        top: 85%;
        transform: rotate(0deg);
    }
}

.flipped-card {
    position: fixed;
    top: 40%;
    right: 8.7vw;
    height: 10vw;
    transform: rotate(90deg);
    z-index: -5;
    animation: moveToTop 3s forwards;
}

@keyframes moveToTop {
    0%{}
    50%{
        right: 20vw;
    }
    100%{
        z-index: 10;
        right: 8.7vw;
    }
}

.move-to-center {
    animation: moveToCenter 2s forwards
}

@keyframes moveToCenter {
    from{z-index: 10;}
    to{
        right: 46.5%;
    }
}

.deal-card {
    position: fixed;
    top: 42%;
    right: 7vw;
    height: 10vw;
}

.up-deal {
    animation: dealUp 1s forwards;
}

@keyframes dealUp {
    from{}
    to{
        top: -25%;
        right: 45%;
    }
}

.right-deal {
    animation: dealRight 1s forwards;
}

@keyframes dealRight {
    from{}
    to{
        right: -10%;
    }
}

.down-deal {
    animation: dealDown 1s forwards;
}

@keyframes dealDown {
    from{}
    to{
        top: 105%;
        right: 45%;
    }
}

.left-deal {
    animation: dealLeft 1s forwards;
}

@keyframes dealLeft {
    from{}
    to{
        right: 100%;
    }
}



.hand {
    height: 5vw;
    width: 25%;
    border: 2px solid white;
    position: absolute;
}

.name {
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: 1000;
    position: fixed;
}

#top-hand {
    top: 0;
    left: 37.5%;
    transform: rotate(180deg);
}

#top-name {
    top: 1%;
    left: 30%;
}

#left-hand {
    left: -10vw;
    top: 45%;
    transform: rotate(90deg);
}

#left-name {
    left: 1%;
    top: 18%;
}

#right-hand {
    right: -10vw;
    top: 45%;
    transform: rotate(270deg);
}

#right-name {
    right: 1%;
    top: 18%;
}

#bottom-hand {
    bottom: 0;
    left: 37.5%;
}

#bottom-name{
    bottom: 1vw;
    left: 32vw;
}

/* Pick Up Or Pass Menu */
.pick-or-pass {
    position: fixed;
    top: 60%;
    left: 40%;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    background-color: rgb(44, 35, 20);
    border: 8px solid rgb(15, 12, 7);
    color: white;
    font-size: 1vw;
    font-family: 'Mochiy Pop P One', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

#pick-up .switch{
    position: absolute;
    left: 17.3%;
    top: 70%;
}

#pick-up{
    width: 50%;
}

.pick-or-pass button {
    height: 30%;
    display: block;
    margin: 0.5vw auto;
}

.pick-or-pass button:hover {
    cursor: pointer;
}

/* Sending Card to Dealer Animation */

.move-right {
    animation: moveRight 1s forwards;
}

@keyframes moveRight {
    from{right: 46.5%}
    to{
        right: -10%;
    }
}

.move-left {
    animation: moveLeft 1s forwards;
}

@keyframes moveLeft {
    from{right: 46.5%}
    to{
        right: 102vw;
    }
}

.move-up {
    animation: moveUp 1s forwards;
}

@keyframes moveUp {
    from{right: 46.5%}
    to{
        right: 46.5%;
        transform: rotate(0deg);
        top: -10vw;
    }
}

.move-down {
    animation: moveDown 1s forwards;
}

@keyframes moveDown {
    from{right: 46.5%}
    to{
        right: 46.5%;
        transform: rotate(0deg);
        top: 80vw;
    }
}

.dealer-passed {
    animation: moveToSide 2s forwards
}

@keyframes moveToSide {
    from{right: 46.5%}
    to{
        right: 2.3vw;
        top: 85%;
        transform: rotate(0deg);
    }
}

.suit-or-pass {
    position: fixed;
    top: 60%;
    left: 40%;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    background-color: rgb(44, 35, 20);
    border: 8px solid rgb(15, 12, 7);
    color: white;
    font-size: 1vw;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#pick-suit{
    margin: 1vw auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#pick-suit button{
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 255, 0);
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 2px;
}

#pick-suit button:hover{
    margin: 0;
    border: 2px solid white;
    cursor: pointer;
}




