body {
    background-color: green;
    text-align: center;
}

h1 {
    font-size: 75px;
    color: yellow;
    font-family: 'Mochiy Pop P One', sans-serif;
    -webkit-text-stroke: 2px black;
}

#aces {
    height: 12vw;
    margin-bottom: 2vw;
}

.game-option {
    width: 20vw;
    height: 3vw;
    background-color: rgb(44, 35, 20);
    border-radius: 10px;
    font-size: 30px;
    color: white;
    border: none;
    margin: 10px;
}

.game-option:hover {
    border: 2px solid white;
}