body {
    background-color: green;
    text-align: center;
}

h1 {
    font-size: 75px;
    color: yellow;
    font-family: 'Mochiy Pop P One', sans-serif;
    -webkit-text-stroke: 2px black;
    margin: 3vw;
}

#aces {
    height: 12vw;
    margin-bottom: 2vw;
}

.main-option {
    width: 20vw;
    height: 3vw;
    background-color: rgb(44, 35, 20);
    border-radius: 10px;
    font-size: 30px;
    color: white;
    border: none;
    margin: 10px;
}

.main-option:hover {
    border: 2px solid white;
}

.game-options {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgb(44, 35, 20);
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.invisible {
    display: none;
}

.game-options h2 {
    color: yellow;
    font-size: 60px;
    -webkit-text-stroke: 2px black;
    margin-top: 0;
}

.fa-volume-down {
    margin-left: 1vw;
}

#close-options {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
    font-family: 'Mochiy Pop P One', sans-serif;
    cursor: pointer;
}

.game-options ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 3vw;
}

.game-options p {
    margin: 0 auto;
    line-height: 0;
    color: yellow
}

.game-options li {
    font-size: 20px;
    align-content: center;
    margin: 1vw auto;
}